{
  "openapi": "3.1.0",
  "info": {
    "title": "AI Dash Export API",
    "version": "1.0.0",
    "description": "Read-only API for ChatGPT GPTs to access course R&D project data, AI call logs, baselines, and prompt templates from the AI Dash course design system."
  },
  "servers": [
    { "url": "https://ai.dashedu.net" }
  ],
  "security": [
    { "BearerAuth": [] }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": { "type": "string" }
        },
        "required": ["error"]
      },
      "ProjectSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "status": { "type": "string", "enum": ["draft", "framework_confirmed", "finalized", "published"] },
          "ageRange": { "type": "string", "nullable": true },
          "level": { "type": "string", "nullable": true },
          "orgForm": { "type": "string", "nullable": true },
          "deliverableType": { "type": "string", "nullable": true },
          "deliverableName": { "type": "string", "nullable": true },
          "lessonCount": { "type": "integer" },
          "courseDirection": { "type": "string", "nullable": true },
          "coreNeeds": { "type": "string", "nullable": true },
          "imageStyle": { "type": "string", "nullable": true },
          "publishCount": { "type": "integer" },
          "lastPublishedAt": { "type": "string", "format": "date-time", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "ProjectListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/ProjectSummary" } },
          "total": { "type": "integer" },
          "page": { "type": "integer" },
          "pageSize": { "type": "integer" }
        }
      },
      "GenerationConfigSnapshot": {
        "type": "object",
        "properties": {
          "dimensions": {
            "type": "object",
            "properties": {
              "ageKey": { "type": "string", "nullable": true },
              "ageLabel": { "type": "string", "nullable": true },
              "levelKey": { "type": "string", "nullable": true },
              "levelLabel": { "type": "string", "nullable": true },
              "orgFormKey": { "type": "string", "nullable": true },
              "orgFormLabel": { "type": "string", "nullable": true },
              "deliverableKey": { "type": "string", "nullable": true },
              "deliverableLabel": { "type": "string", "nullable": true }
            }
          },
          "baselineVersions": {
            "type": "object",
            "description": "Map of baseline type_key to version number, e.g. {\"general\": 3, \"age_A2\": 2}",
            "additionalProperties": { "type": "integer" }
          },
          "promptTemplateVersions": {
            "type": "object",
            "description": "Map of actionKey to version number, e.g. {\"generate_framework\": 5}",
            "additionalProperties": { "type": "integer" }
          },
          "actionConfigs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "actionKey": { "type": "string" },
                "actionLabel": { "type": "string" },
                "providerName": { "type": "string", "nullable": true },
                "modelName": { "type": "string" }
              }
            }
          }
        }
      },
      "LessonSummary": {
        "type": "object",
        "description": "Compact lesson info returned in project detail. Use getProjectLessonDetail for full draftJson.",
        "properties": {
          "lessonNo": { "type": "integer" },
          "title": { "type": "string" },
          "overview": { "type": "string", "nullable": true },
          "lastFeedback": { "type": "string", "nullable": true },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "LessonDetail": {
        "type": "object",
        "description": "Full lesson detail with 7-section draftJson",
        "properties": {
          "lessonNo": { "type": "integer" },
          "title": { "type": "string" },
          "overview": { "type": "string", "nullable": true },
          "draftJson": { "type": "object", "nullable": true, "description": "7-section lesson plan: coreInfo, aiValueExplanation, prepChecklist, classroomFlow, studentCardPoints, attachmentTemplates, postClassReview" },
          "lastFeedback": { "type": "string", "nullable": true },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "LessonDetailResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/LessonDetail" }
        }
      },
      "ProjectDetailResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "project": { "$ref": "#/components/schemas/ProjectSummary" },
              "generationConfigSnapshot": { "$ref": "#/components/schemas/GenerationConfigSnapshot" },
              "directionVersion": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "summary": { "type": "string" },
                  "frameworkJson": { "type": "object" }
                }
              },
              "lessonDrafts": { "type": "array", "items": { "$ref": "#/components/schemas/LessonSummary" }, "description": "Compact lesson list without draftJson. Use getProjectLessonDetail for full content." },
              "validationResult": { "type": "object", "nullable": true },
              "publishRecords": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "publishedAt": { "type": "string", "format": "date-time" },
                    "packageTitle": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      },
      "AiCallLog": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "sequence": { "type": "integer", "description": "Call sequence number within the project (1-based)" },
          "actionType": { "type": "string" },
          "actionLabel": { "type": "string" },
          "lessonNo": { "type": "integer", "nullable": true },
          "modelName": { "type": "string" },
          "promptTemplateId": { "type": "string", "nullable": true },
          "promptTemplateActionKey": { "type": "string", "nullable": true },
          "promptTemplateVersionNo": { "type": "integer", "nullable": true },
          "promptLog": { "type": "string", "nullable": true, "description": "Full system prompt sent to LLM" },
          "messageLog": { "type": "string", "nullable": true, "description": "Full user message sent to LLM" },
          "inputTokens": { "type": "integer" },
          "outputTokens": { "type": "integer" },
          "estimatedCost": { "type": "number" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "PromptsResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/AiCallLog" } },
          "total": { "type": "integer" },
          "page": { "type": "integer" },
          "pageSize": { "type": "integer" }
        }
      },
      "BaselineDoc": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "type": { "type": "string", "enum": ["general", "age", "level", "org_form", "deliverable", "matrix"] },
          "key": { "type": "string" },
          "label": { "type": "string" },
          "content": { "type": "string" },
          "currentVersionNo": { "type": "integer" },
          "sortOrder": { "type": "integer" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "BaselinesResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/BaselineDoc" } }
        }
      },
      "TemplateVariable": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "group": { "type": "string" },
          "description": { "type": "string" }
        }
      },
      "PromptTemplate": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "actionKey": { "type": "string" },
          "actionLabel": { "type": "string" },
          "content": { "type": "string", "description": "Template content with {{variable}} placeholders" },
          "currentVersionNo": { "type": "integer" },
          "variables": { "type": "array", "items": { "$ref": "#/components/schemas/TemplateVariable" } },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "PromptTemplatesResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/PromptTemplate" } }
        }
      }
    }
  },
  "paths": {
    "/api/export/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List all course R&D projects with pagination and optional status filter",
        "parameters": [
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["draft", "framework_confirmed", "finalized", "published"] }, "description": "Filter by project status" },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 }, "description": "Page number (1-based)" },
          { "name": "pageSize", "in": "query", "schema": { "type": "integer", "default": 20, "maximum": 100 }, "description": "Items per page (max 100)" }
        ],
        "responses": {
          "200": {
            "description": "Paginated project list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProjectListResponse" }
              }
            }
          },
          "401": {
            "description": "Invalid or missing export token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/export/projects/{id}": {
      "get": {
        "operationId": "getProjectDetail",
        "summary": "Get project overview with generationConfigSnapshot, framework, lesson summaries (without draftJson), validation results, and publish records. Use getProjectLessonDetail for individual lesson full content.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Project ID" }
        ],
        "responses": {
          "200": {
            "description": "Full project detail with generation config snapshot",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProjectDetailResponse" }
              }
            }
          },
          "401": {
            "description": "Invalid or missing export token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/export/projects/{id}/lessons/{lessonNo}": {
      "get": {
        "operationId": "getProjectLessonDetail",
        "summary": "Get full detail for a single lesson including the complete 7-section draftJson (coreInfo, aiValueExplanation, prepChecklist, classroomFlow, studentCardPoints, attachmentTemplates, postClassReview)",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Project ID" },
          { "name": "lessonNo", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Lesson number (1-based)" }
        ],
        "responses": {
          "200": {
            "description": "Full lesson detail with draftJson",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LessonDetailResponse" }
              }
            }
          },
          "401": {
            "description": "Invalid or missing export token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Project or lesson not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/export/projects/{id}/prompts": {
      "get": {
        "operationId": "getProjectPrompts",
        "summary": "Get the complete AI call chain for a project with sequence numbers, action labels, lesson numbers, full system prompts, user messages, and prompt template identifiers (promptTemplateId, promptTemplateActionKey, promptTemplateVersionNo)",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Project ID" },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 }, "description": "Page number (1-based)" },
          { "name": "pageSize", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 200 }, "description": "Items per page (max 200)" }
        ],
        "responses": {
          "200": {
            "description": "Paginated AI call logs with full prompt data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PromptsResponse" }
              }
            }
          },
          "401": {
            "description": "Invalid or missing export token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/export/baselines": {
      "get": {
        "operationId": "getBaselines",
        "summary": "Get all 23 baseline documents across 6 dimensions (general, age A1-A4, level L1-L4, org_form S1-S2, deliverable P1-P11, matrix) with full content and current version numbers",
        "responses": {
          "200": {
            "description": "All baseline documents",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BaselinesResponse" }
              }
            }
          },
          "401": {
            "description": "Invalid or missing export token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/export/prompt-templates": {
      "get": {
        "operationId": "getPromptTemplates",
        "summary": "Get all 9 prompt templates with full content, current version numbers, and extracted variable lists showing which {{variables}} each template uses",
        "responses": {
          "200": {
            "description": "All prompt templates with variables",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PromptTemplatesResponse" }
              }
            }
          },
          "401": {
            "description": "Invalid or missing export token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  }
}
